<h1>{{ title }}</h1>
<div id="cont">
  <form action="/{{ action }}" method="post">
    <input type="text" placeholder="Nom">
    <input type="text" placeholder="Prénom">
    <input type="text" placeholder="Email">
    <input type="text" placeholder="N° de téléphone">
    <input type="text" placeholder="Tag">
    <input type="submit" value="Valider">
  </form>
</div>